html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 22px;
}

li {
    list-style: none;
}

.head-section {
    background-color: #1F2937;
    color: white;
    padding: 0 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    padding-bottom: 150px;
    justify-content: space-between;
}

.description {
    flex: 1 1 0;
}

.description h1 {
    font-weight: bold;
}

.description button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
}

.description-image {
    flex: 1 1 0;
    display: flex;
    flex-direction: row-reverse;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0px 200px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 16px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: center;
    font-size: 18px;
}

.cards img {
    width: 150px;
    height: auto;
}